@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
  background-color: #16043f;
  color: #f9f7ff;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-menu > li {
  list-style: none;
  margin-right: 40px;
}